* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #202124;
  height: 100vh;
}

header {
  display: flex;
  justify-content: end;
  height: 60px;
  /* background-color: teal; */
  padding: 0 18px;
}

header .optiones {
  display: flex;
  align-items: center;
  gap: 12px;
  /* background-color: indigo; */
}

header .optiones a {
  text-decoration: none;
  color: whitesmoke;
}

header .optiones a img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.dots-logo {
  display: inline-block;
  background-image: url(logo/dots-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

.search-logo {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(logos/search-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.micro-logo {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(logos/micro-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.camera-logo {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(logos/camera-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  height: calc(100% - 60px - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}

main .contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  /* background-color: indigo; */
}
main .contenedor figure{
  height: 92px;
}
main .contenedor figure img {
  height: 100%;
}
main .contenedor .buscador {
  display: flex;
  gap: 8px;/* Establece el espacio entre los elementos hijos del contenedor flex. */
  align-items: center;/* Alinea verticalmente los elementos hijos en el centro del contenedor flex. */
  height: 40px;/* Establece la altura del contenedor a 40 píxeles. */
  width: 450px;/* Establece el ancho del contenedor a 450 píxeles. */
  padding: 8px 12px;/* Aplica un relleno de 8 píxeles en la parte superior e inferior y 12 píxeles en los lados izquierdo y derecho del contenedor. */
  border: 1px solid gray;
  border-radius: 24px;/* Redondea las esquinas del contenedor con un radio de 24 píxeles. */
}
main .contenedor .boton-buscador {
  border: none;
  background-color: transparent;
}
main .contenedor .buscador input {
  width: 100%;
  border: none;
  color: whitesmoke;
  background-color: transparent;
}
main .contenedor .boton-buscador {
  display: flex;
  gap: 10px;
}
main .contenedor .boton-buscador button{
  border: none;
  border-radius: 4px;
  background-color: #303134;
  padding: 12px;
  color: whitesmoke;
}


main .contenedor p {
  font-size: small;
  color: whitesmoke;
}

footer {
  display: flex;
  flex-direction: column;
  height: 90px;
  background-color: #171717;
}
footer section {
  padding: 0 30px;
  display: flex;
  align-items: center;
  height: 50%;
  color: #999da2;
}
footer section.mas-info {
  border-top: #3b3b3b solid 1px;
  display: flex;
  justify-content: space-between;
}
footer section.mas-info div {
  display: flex;
  gap: 18px;
}
footer section.mas-info div a {
  color: #999da2;
  text-decoration: none;
}
